:root{
    --maincolor:#163235;
    --secondclr:#4468e3;
    --thirdcolor:#1C4961;
    
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s;
    text-transform: capitalize;
    text-decoration: none;
}
 
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 2rem 7%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 10000;
    background-color: #fff;
   
}

.header #logo{
    color: black;
    font-size: 3rem;
}
.header #logo span{
color: var(--secondclr);
}

.navbar a{
    font-size: 1.2rem;
    margin-left: 0.5rem;
    padding: 0.9rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.navbar a:hover{
color: var(--secondclr);
}

.icons #menu bars{
    font-size: 2rem;
    color: black;
    display: none;
    display: block;
    color: #fff;
}

icons #menu bars:hover{
    color: #4468e3;
}

div.icons a{

    display: none;
}

.imagen{
 background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1px;


}
.imagen{
    display: flex;
    flex-direction: column;
}

.imagen h1{
    font-size: 50px;
    color: #fff;
}

.imagen h1 span{
    color: var(--secondclr);
}
 .imagen p{
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 3rem;
 }

 .imagen a{
    padding: 1.5rem 2rem;
    color: #fff;
    font-size: 1.5rem;
    background: var(--secondclr);
 }

 .imagen a:hover{
    transform: scaleY(1.1);
    letter-spacing: 2px;
    border-radius: 15px;
    transition: 5.s;

 }

 footer{
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 3rem;
 }

 .nuevos{
    
    width: 80%;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    flex-wrap: wrap;
    gap: 15px;
   
 }

 
 .nuevos h1{
    font-size: 45px;
    font-weight: 600;
    color: black;
    font-family: 'Times New Roman', Times, serif;
 }

 .nuevos p{
    color: #4468e3;
    font-size: 14px;
    font-weight: 300;
    line-height: 33px;
    padding: 10px;
 }

 .lugares{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    position: absolute;
 }

 .recomend p{
    height: 2rem;
    text-align: center;
    text-transform: 5px;
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .recomend{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    color: rgb(42, 26, 61);
    gap: 15px;
    position: relative;
   
 }

 h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #4468e3;
 }

 .recomend:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
 }
 
 /*----imagen recomendaciones*/
img{
    width: 100%;
}

footer p{
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    position: relative;
    color: #163235;
    padding-top: 50rem;
}
 
 


























































@media (max-width:768px){

html{
    font-size:55%;
}
.incos #menu-bars{
    display: initial;
}

.header{
    padding: 2rem;
}

.navbar{
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: top;
    z-index: 2;
    
   
}



.navbar a{
    display: block;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 30px;
}

#check:checked ~fas-fa-bars{
    left: 0;
    transition: all .5s;
}

.imagen h1{
    display: block;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
}

div.icons a{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor:pointer;
}

.imagen{
    background-position: 50%;

}

.imagen h1{
    padding: 50px;

}

}





